.top-ten__header {
  color: #26a69a;
  border-bottom: 2px solid;
  border-bottom-color: #b2dfdb;
}

.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-group-item {
  border: none;
}

.top-ten__creator {
  color: slategrey;
}